<ol class="breadcrumb" ng-show="genreId">
  <li><a href="#/genre/{{ genreId }}">{{ genreId }}</a></li>
  <li ng-show="keyword"><a href="#/genre/{{ genreId }}/{{ keyword }}">{{ keyword }}</a></li>
</ol>

<ol class="breadcrumb" ng-show="searchQuery">
	<li>search</li>
	<li>{{ searchQuery }}</li>
</ol>

<ul class="subnav">
	<li class="keyword" ng-repeat="keyword in currentGenre.keywords">
		<a class="btn btn-info btn-sm" role="button" href="#genre/{{ $parent.currentGenre.name|lowercase }}/{{ keyword|lowercase }}">{{ keyword }}</a>
	</li>
</ul>

<div class="videos row">
	<div class="video item" ng-repeat="video in videoListItems">

		<div>
	    <script type="text/ng-template" id="videoModalContent.html">
	        <div class="modal-header">
	            <h3 class="modal-title">{{ video.snippet.title }}</h3>
	            <button class="closebtn btn btn-primary" ng-click="ok()">Close</button>
	        </div>
	        <div class="modal-body">
	        		<iframe class="ytplayer" width="100%" height="{{ video.height }}" src="{{ video.url }}" frameborder="0" allowfullscreen/>
	        </div>
	    </script>
			<div class="well" ng-click="open(video)">
				<img src="{{ video.snippet.thumbnails.medium.url }}">
				<p class="title">{{video.snippet.title}}</p>
				<p class="description">{{video.snippet.description}}</p>
			</div>
		</div>
	</div>
</div>