<p>current {{ genreId }} {{ keyword }}</p>

<ul>
	<li ng-repeat="keyword in currentGenre.keywords">
		<a href="#genre/{{ $parent.currentGenre.name|lowercase }}/{{ keyword|lowercase }}">{{ keyword }}</a>
	</li>
</ul>

<div class="videos row">
	<div class="video item" ng-repeat="video in videoListItems">
		<div class="well">
			<img src="{{ video.snippet.thumbnails.medium.url }}">
			<p class="title">{{video.snippet.title}}</p>
			<p class="description">{{video.snippet.description}}</p>
		</div>
	</div>
</div>